.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cargo-details-table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
}

.cargo-details-table th, .cargo-details-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.cargo-details-table th {
    background-color: #f2f2f2;
}

.actions {
    margin-top: 20px;
}

button {
    margin-right: 10px;
}

/* Adiciona estilo para centralizar a tabela em telas menores */
@media (max-width: 768px) {
    .cargo-details-table {
        width: 80%;
    }
}
