<mat-card class="container mat-elevation-z8">
    <mat-card-header>
        <mat-card-title>{{ cargo.nome }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/img/cargo-create.svg" alt="Imagem do cargo">

    <mat-card-content>
        <table>
            <caption>Detalhes do Cargo de {{ cargo.nome }}</caption>
            <tr>
                <th>Nome do Cargo: </th>
                <td>{{ cargo.nome }}</td>
            </tr>
            <tr>
                <th>Salário: </th>
                <td>{{ cargo.salarioBase | currency }}</td>
            </tr>
            <tr>
                <th>Departamento: </th>
                <td>{{ cargo.departamento.nome }}</td>
            </tr>
            <tr>
                <th>Gestor do Departamento: </th>
                <td>{{ cargo.responsavelAtual.nomeFuncionarioResponsavel }}</td>
            </tr>
            <tr>
                <th>Descrição: </th>
                <td>{{ cargo.descricao }}</td>
            </tr>
            <p></p>
            <tr>
                <th>Responsabilidades: </th>
                <td>{{ cargo.responsabilidades }}</td>
            </tr>
        </table>
    </mat-card-content>

    <mat-card-actions>
        <button mat-button routerLink="../..">
            <i class="material-icons votlar">arrow_back</i> Voltar
        </button>
        <button mat-button routerLink="update/{{ cargo.id }}">
            <i class="material-icons edit">edit</i> Editar
        </button>
        <button mat-button routerLink="delete/{{ cargo.id }}">
            <i class="material-icons delete">delete</i> Excluir
        </button>
    </mat-card-actions>
</mat-card>
