<div class="container">
    <form class="form mat-elevation-z8">
 
       <h1>Help Desk</h1>
 
       <img src="assets/img/login-image.svg" alt="Help Desk">
 
       <mat-form-field class="full-width" appearance="outline">
        <mat-label>Insira seu Login de Acesso</mat-label>
          <input 
          [formControl]="email"
          required
          [(ngModel)]="creds.email" 
          name="email" 
          matInput 
          placeholder="Ex. fulano@mail.com">
          <mat-icon matSuffix>email</mat-icon>
       </mat-form-field>
 
       <mat-form-field class="full-width" appearance="outline">
          <mat-label>Senha</mat-label>
          <input [formControl]="senha"
          required
          [(ngModel)]="creds.senha" 
          name="senha" 
          [type]="hide ? 'password' : 'text'"
          matInput 
          placeholder="Ex. 123">
          <button mat-icon-button matSuffix (click)="togglePasswordVisibility()"
             [attr.aria-label]="hide ? 'Show password' : 'Hide password'" [attr.aria-pressed]="hide">
             <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
         </button>
       </mat-form-field>

       <button (click)="logar()" [disabled]="!validaCampos()" class="full-width mat-elevation-z4" mat-stroked-button color="primary">Login</button>
       <button routerLink="/login-recuperar" class="full-width mat-elevation-z4" mat-stroked-button color="basic">Esqueceu a Senha?</button>
    </form>
 
 </div>
