<div class="container mat-elevation-z8">
    <h1 class="full-width">Relatório de Auditoria de Ações</h1>

    <img class="fullWidth" src="assets/img/relatorio-autitoria.svg" alt="Help Desk">

    <!-- Campo do Auto Complete -->    
    <form class="form">
        <div class="form-group">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Nome do Usuário</mat-label>
                <input matInput [formControl]="tecnicoControl" [matAutocomplete]="auto" [(ngModel)]="tecnicoSelecionado"
                    placeholder="Digite o nome do usuário">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayTecnico">
                    <mat-option *ngFor="let tec of filtroTecnicos | async" [value]="tec">
                        {{ tec.nome }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>

        <!-- Campo de Data de Início -->
        <div class="form-group-date">
            <mat-form-field appearance="outline">
            <mat-label>Data de Início</mat-label>
            <input matInput [matDatepicker]="pickerInicio" [(ngModel)]="relatorioUsuario.dataInicio"
                name="dataInicio" [formControl]="dataInicio" placeholder="Digite a Data de Inicio">
            <mat-datepicker-toggle matSuffix [for]="pickerInicio">{{ relatorioUsuario.dataInicio | date: 'dd/MM/yyyy HH:mm:ss' }}</mat-datepicker-toggle>
            <mat-datepicker #pickerInicio></mat-datepicker>
            </mat-form-field>
        
            <!-- Campo de Data de Fim -->
            <mat-form-field appearance="outline">
            <mat-label>Data de Fim</mat-label>
            <input matInput [matDatepicker]="pickerFim" [(ngModel)]="relatorioUsuario.dataFim" name="dataFim"
                [formControl]="dataFim" placeholder="Digite a Data de Fim">
            <mat-datepicker-toggle matSuffix [for]="pickerFim">{{ relatorioUsuario.dataFim | date: 'dd/MM/yyyy HH:mm:ss' }}</mat-datepicker-toggle>
            <mat-datepicker #pickerFim></mat-datepicker>
            </mat-form-field>
        </div>

        <button type="button" [disabled]="!validaCampos()" class="full-width mat-elevation-z4" mat-raised-button
            color="primary" (click)="gerarRelatorio()">Gerar Relatório</button>
    </form>

    <p class="fullWidth">by Rodrigo Aguiar</p>
</div>