<mat-drawer-container class="container" autosize>
   <mat-drawer #drawer class="sidenav" mode="side">
      <img src="assets/img/side-image.svg" alt="Imagem de navegação">
      <mat-nav-list class="nav-list">

         <a mat-list-item routerLink="home">
            <i class="material-icons">home</i>
            Home
         </a>

      <!-- Menu do Técnico -->
         <button mat-button [matMenuTriggerFor]="tecnicoMenu">
            <mat-icon>build</mat-icon>
            Técnico
         </button>
         <mat-menu #tecnicoMenu="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="subMenuListar">
               <mat-icon>list_alt</mat-icon>
               Listar
            </button>
            <button mat-menu-item [matMenuTriggerFor]="subMenuCadastrar">
               <mat-icon>person_add</mat-icon>
               Cadastrar
            </button>
         </mat-menu>

         <mat-menu #subMenuListar="matMenu">
            <button mat-menu-item routerLink="tecnicos">
               <mat-icon>list_alt</mat-icon>
               Lista de Técnicos
            </button>
         </mat-menu>

         <mat-menu #subMenuCadastrar="matMenu">
            <button mat-menu-item routerLink="tecnicos/create">
               <mat-icon>person_add</mat-icon>
               Cadastrar Técnico
            </button>
         </mat-menu>

      <!-- Menu do Paciente -->
         <button mat-button [matMenuTriggerFor]="pacientesMenu">
            <mat-icon>local_hospital</mat-icon>
            Paciente
         </button>
         <mat-menu #pacientesMenu="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="subMenuListarPaciente">
               <mat-icon>list_alt</mat-icon>
               Listar
            </button>
            <button mat-menu-item [matMenuTriggerFor]="subMenuCadastrarPaciente">
               <mat-icon>person_add</mat-icon>
               Cadastrar
            </button>
         </mat-menu>

         <mat-menu #subMenuListarPaciente="matMenu">
            <button mat-menu-item routerLink="pacientes">
               <mat-icon>list_alt</mat-icon>
               Lista de Pacientes
            </button>
         </mat-menu>

         <mat-menu #subMenuCadastrarPaciente="matMenu">
            <button mat-menu-item routerLink="pacientes/create">
               <mat-icon>person_add</mat-icon>
               Cadastrar Paciente
            </button>
         </mat-menu>

         <!-- Menu do Cliente -->
         <button mat-button [matMenuTriggerFor]="clienteMenu">
            <mat-icon>person</mat-icon>
            Cliente
         </button>
         <mat-menu #clienteMenu="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="subMenuListarCliente">
               <mat-icon>list_alt</mat-icon>
               Listar
            </button>
            <button mat-menu-item [matMenuTriggerFor]="subMenuCadastrarCliente">
               <mat-icon>person_add</mat-icon>
               Cadastrar
            </button>
         </mat-menu>

         <mat-menu #subMenuListarCliente="matMenu">
            <button mat-menu-item routerLink="clientes">
               <mat-icon>list_alt</mat-icon>
               Lista de Clientes
            </button>
         </mat-menu>

         <mat-menu #subMenuCadastrarCliente="matMenu">
            <button mat-menu-item routerLink="clientes/create">
               <mat-icon>person_add</mat-icon>
               Cadastrar Cliente
            </button>
         </mat-menu>

         <button mat-button [matMenuTriggerFor]="chamadoMenu">
            <mat-icon>email</mat-icon>
            Chamado
         </button>
         <mat-menu #chamadoMenu="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="subMenuListarChamado">
               <mat-icon>list_alt</mat-icon>
               Listar
            </button>
            <button mat-menu-item [matMenuTriggerFor]="subMenuCadastrarChamado">
               <mat-icon>email</mat-icon>
               Cadastrar
            </button>
         </mat-menu>

         <mat-menu #subMenuListarChamado="matMenu">
            <button mat-menu-item routerLink="chamados">
               <mat-icon>list_alt</mat-icon>
               Lista de Chamado
            </button>
         </mat-menu>

         <mat-menu #subMenuCadastrarChamado="matMenu">
            <button mat-menu-item routerLink="chamados/create">
               <mat-icon>person_add</mat-icon>
               Cadastrar Chamado
            </button>
         </mat-menu>

         <!-- Menu Médico -->
         <button mat-button [matMenuTriggerFor]="medicoMenu">
            <mat-icon>person_outline</mat-icon>
            Médico
          </button>
          <mat-menu #medicoMenu="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="subMenuListarMedico">
              <mat-icon>list_alt</mat-icon>
              Listar
            </button>
            <button mat-menu-item [matMenuTriggerFor]="subMenuCadastrarMedico">
              <mat-icon>person_add</mat-icon>
              Cadastrar
            </button>
            <button mat-menu-item [matMenuTriggerFor]="subMenuAgendaMedico">
              <mat-icon>calendar_today</mat-icon>
              Agenda do Médico
            </button>
          </mat-menu>
          
          <mat-menu #subMenuListarMedico="matMenu">
            <button mat-menu-item routerLink="medicos">
              <mat-icon>list_alt</mat-icon>
              Lista de Médicos
            </button>
          </mat-menu>
          
          <mat-menu #subMenuCadastrarMedico="matMenu">
            <button mat-menu-item routerLink="medicos/create">
              <mat-icon>person_add</mat-icon>
              Cadastrar Médico
            </button>
          </mat-menu>
          
          <mat-menu #subMenuAgendaMedico="matMenu">
            <button mat-menu-item routerLink="agendas/create">
              <mat-icon>calendar_today</mat-icon>
              Agenda do Médico
            </button>
          </mat-menu>
          
         <div *ngIf="roles.includes('ROLE_ADMIN')">
            <button mat-button [matMenuTriggerFor]="relatorioMenu">
               <mat-icon>bar_chart</mat-icon>
               Relatório
            </button>
            <mat-menu #relatorioMenu="matMenu">
               <button mat-menu-item [matMenuTriggerFor]="subMenuRelatorio">
                  <mat-icon>bar_chart</mat-icon>
                  Selecione
               </button>
            </mat-menu>
   
            <mat-menu #subMenuRelatorio="matMenu">
               <button mat-menu-item routerLink="relatorio">
                  <mat-icon>bar_chart</mat-icon>
                  Relatório de Auditoria de Ações
               </button>
            </mat-menu>
         </div>

         <a mat-list-item href="https://github.com/RodrigoAguiarS" target="_blank">
            <i class="material-icons">code</i>
            Github
         </a>
         <a mat-list-item routerLink (click)="logout()">
            <i class="material-icons">logout</i>
            Logout
         </a>
      </mat-nav-list>
   </mat-drawer>

   <div class="sidenav-content">
      <app-header></app-header>
      <button class="menu mat-elevation-z8" (click)="drawer.toggle()" mat-icon-button>
         <mat-icon>menu</mat-icon>
      </button>
      <router-outlet></router-outlet>
   </div>
</mat-drawer-container>