.container {
    width: 45%;
    margin: auto auto 3rem auto;
    padding: 1rem;
    border-radius: 1rem;
 }
 
 .fullWidth {
    width: 100%;
 }
 
 h1, img, p {
    text-align: center;
  }
  
  img {
    height: 15rem;
  }
  
 h3, p {
   text-align: center;
}
 

 .section {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
 }
 
 button {
    margin-top: .5rem;
  }

  .mat-card-actions {
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
 p {
    margin-top: 4rem;
    opacity: .5;
 }

 mat-icon {
   opacity: .8;
 }

 mat-card-title {
    justify-content: center;
 }
